<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "./css/header.css">
        
    </head>

    <body>
    	<div id  ="page">
            <!-- 상단 로그인 언어설정 화면-->
            <div class = "top">
                <div class = "lan">
                    <a href="#"style = "color:#888888">KR</a>
                    <a href="#">EN</a>
                    <a href="#">CN</a>
                </div>
            </div>
            <!-- 네비게이션-->
            <div class  = "navi">
                <ul class="intro">
                    <li class = "dropdown">
                        <a href = "javascript:void(0)" class = "dropbtn">&nbsp;점포안내 &nbsp;|</a>
                            <div class = "dropdown-content">
                                신세계백화점
                                <a href = "https://www.shinsegae.com/store/main.do?storeCd=SC00002" target="_blank">강남점</a>
                                <a href = "#">경기점</a>
                                <a href = "#">광주신세계</a>
                                <a href = "#">김해점</a>
                                <a href = "#">대구신세계</a>
                                <a href = "#">마산점</a>
                    </li>

                    <li class ="dropdown">
                        <a href = "javascript:void(0)" class = "dropbtn">&nbsp;쇼핑정보&nbsp; |</a>
                            <div class = "dropdown-content">
                                <a href = "#">강남점</a>
                                <a href = "#">광주신세계</a>
                                <a href = "#">김해점</a>
                                <a href = "#">대구신세계</a>
                                <a href = "#">마산점</a>
                            </div>

                    </li>    
                        <li><a href = "#">신세계 브랜드 &nbsp;</li></a>
                        <li><a href = "#">아트&컬쳐 &nbsp;</li></a>
                        <li><a href = "#">매거진 &nbsp;</li></a>
                        <li><a href = "#">고객 서비스 &nbsp;</li></a>

                        <li class = "lgin"> <a href="login.html"target ="_blank">로그인</a></li>
                </ul>                   
                
            </div>
        </div>
        
    </body>
</html>