<html>
    <head>
        <link rel="stylesheet" href="./css/kakao.css">
    </head>
<body>
<div class="sns">
    <div class="title"><a href="https://www.shinsegae.com/channel.do" target="_blank">SHINSEGAE CHANNEL &nbsp;<i class='fas fa-chevron-circle-right'></i></a></div>
    <div class="desc">신세계백화점의 쇼핑 소식을 가장 빠르게 만나보세요!</div>
    <div class="btns_sns">

        <a href="https://web.facebook.com/shinsegae.dep?fref=ts&_rdc=1&_rdr" target="_blank" ><img src ="./img/facebook.png" class = "icon" ></a>
        <a href="https://www.instagram.com/only_shinsegae/" target="_blank" ><img src ="./img/insta.png" class = "icon" ></a>
        <a href="http://www.youtube.com/user/ShinsegaeDep" target="_blank"><img src ="./img/youtube.png" class = "icon" ></a>
        <a href="https://pf.kakao.com/_GcDxdR"  target="_blank"><img src ="./img/kakao.png" class = "icon" ></a>
     
    </div>
</div>
</body>
</html>