<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel = "stylesheet" href = "./css/login_1.css">
        <meta name="viewport"
			content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    </head>
    <body>
        <form id="gnbLoginFrm" name="gnbLoginFrm" method="post">
           <div class = "total">

               <div class="input_container">
                   <div class="input_inner">
                       <div class="idpw">
                           <div class="id"><label for="loginId"> <input type="email" class="form-control" placeholder="아이디"></label></div>
                           <div class="pw"><label for="loginPw"> <input type="password" class="form-control" placeholder="비밀번호"></label></div>
                           <!-- <div class="pw"><label for="loginPw"><input type="password" placeholder="비밀번호" title="비밀번호" name="loginPw" autocomplete="off" maxlength="20"></label></div> -->
                        </div>
                        <button type="submit" class="btn">로그인</button>
                    </div>
                    <div class="find_inner">
                        <div class="id_save_check">
                            <label for="chkSaveId">
                                <input type="checkbox" id="chkSaveId" name="chkSaveId" value="Y">
                                <span class="check_box"></span>
                                아이디 저장하기
                            </label>
                        </div>
                        

                            <a href="#" class="btn_find_idpw" target="_blank" rel="find">아이디 / 비밀번호 찾기</a>

                        </div>
                        
                    </div>
                    <!-- 여백칸  -->
                    <div class = "info_container"></div>

                    <div class = "container">
                    <span class = "copy">
                        신세계닷컴에 로그인을 하시려면 신세계 포인트 통합회원으로 가입하셔야합니다.
                        신세계포인트 통합 회원이 되시면, 신세계 닷컴, 신세계 APP 및 신세계 그룹사 사이트를 하나의 아이디로 이용하실 수 있습니다. 
                    </span>
                    </div>
                
                
            </div>
        </form>
    </body>
    
    </html>