<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "./css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="test">
        <section>
        <div id = "side" >
            <iframe src = "weather.html" style="width:300px; height: 1050px;" scrolling="no"></iframe>
        </div>  
        </section>
    <!-------------------------------------------------------------->
        <article>

        <div id = "new" >
            <div class = "height">
                <h2>Shopping News & Event</h2>

                <h4><img src = "img/login.gif">잠깐! 지금<span  onClick="window.open('./login.html','login', 'width=600  height=600');
                    return false;" style="cursor:pointer;">로그인</span>하시고 고객님의 구매 패턴, 취향에 기반한 쇼핑 정보를 만나보세요</h4><br>
            </div>

        <div id="b">
        <ul class = "item">
            <li><a href = "https://www.shinsegae.com/shopping/view.do?pageLink=%2Fcms12%2FSC00005%2Finfo%2Ftheme%2F5451264_4505.txt&contentDtlCd=06&contentId=5451264&mainCd=01&storeCd=SC00005&brandCd=" target="_blank">
                <img src = "img/new01.PNG"></li>
            <li class = subject><a href = "#"> Hello SUMMER | 마산점</li>
            <li class = "comment">푸빌라&친구들과 함께하는<br> 여름 속 이야기</li>
            <li class = "data">2020.06.12(금)~2020.06.25(목) | 백화점 각 층 본매장</li>
        </ul></a>


        <ul class = "item">
            <li><a href = "#"><img src = "img/new02.PNG"></li>
            <li class = "subject">친환경 페어 | 마산점 </li>
            <li class = "comment">지구가 좋아하는 착한<br> 친환경 패션 페어</li>
            <li class = "data">2020.06.05(금) ~ 2002.06.14(일) | 백화점 각 층 본매장</li>
        </ul></a>

        <ul class = "item">
            <li><a href = "#"><img src = "img/new03.PNG"></li>
            <li class = "subject">푸빌라 기프트 | 마산점</li>
            <li class = "comment">너도나도 갖고픈<br> 푸빌라&친구들 굿즈</li>
            <li class = "data">2020.06.12(금)~2020.06.25(목)<br><br></li>
        </ul></a>


        <ul class = "item">
            <li><a href = "#"><img src = "img/new04.PNG"class = "max-width:100%;height:auto" style="max-width: 100%;" ></li>
            <li class = "subject">아이잗컬렉션 | 마산점</li>
            <li class = "comment">[아이잗컬렉션] S/S패션 제안</li>
            <li class = "data">2020.06.12(금)~ 2020.06.18(목) | 백화점 3F</li>
        </ul></a>

        <ul class = "item">
            <li><a href = "#"><img src = "img/new05.png"class = "max-width:100%;height:auto" style="max-width: 100%;"></li>
            <li class = "subject">SNS이벤트 | 마산점</li>
            <li class = "comment">찰칵. 찰칵<BR>푸빌라와 인증샷</li>
            <li class = "data">2020.06.12(금)~ 2020.06.25(일) | 백화점 각 층 본매장</li>
        </ul></a>

        <ul class = "item">
            <li><a href = "#"><img src = "img/new06.png"class = "max-width:100%;height:auto" style="max-width: 100%;"></li>
            <li class = "subject">슈콤마보니 | 마산점</li>
            <li class = "comment">[슈콤마보니]<br> S/S 신상품 제안</li>
            <li class = "data">2020.06.12(금)~ 2020.06.18(목) | 백화점 4F</li>
        </ul></a>
</div>
    </div>
</div>


    </article>
    </body>
</html>