<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "./css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="test">
        <section>
        <div id = "side" >
            <iframe src = "weather.html" style="width:100%; height: 1050px;" scrolling="no"></iframe>
        </div>  
        </section>
    <!-------------------------------------------------------------->
        <article>
        <div id = "new" >
            <h2>Shopping News & Event</h2>

        <h4><img src = "img/login.gif">잠깐! 지금 <span><a href = "#">로그인</a></span>하시고 고객님의 구매 패턴, 취향에 기반한 쇼핑 정보를 만나보세요</h4><br>


        <div id="b">
        <ul class = "item">
            <li><a href = "#"><img src = "img/new01.png"></li></a>
            <li class = subject><a href = "#"> Hello SUMMER | 마산점</li></a>
            <li class = "comment">푸빌라&친구들과 함께하는<br> 여름 속 이야기</li>
            <li class = "data">2020.06.12(금)~2020.06.25(목) | 백화점 각 층 본매장</li>
        </ul>


        <ul class = "item">
            <li><a href = "#"><img src = "img/new02.png"></li>
            <li class = "subject">친환경 페어 | 마산점 </li>
            <li class = "comment">지구가 좋아하는 착한<br> 친환경 패션 페어</li>
            <li class = "data">2020.06.05(금) ~ 2002.06.14(일) | 백화점 각 층 본매장</li>
        </ul></a>

        <ul class = "item">
            <li><a href = "#"><img src = "img/new03.png"></li>
            <li class = "subject">푸빌라와 함께 찰칵</li>
            <li class = "comment">푸빌라가 뭔지는<br> 모르지만 귀여워</li>
            <li class = "data">2020.06.13(토)~2020.06.24(수)<br><br></li>
        </ul></a>

            <ul class = "item">
                <li><a href = "#"><img src = "img/new04.png" ></li>
                <li class = "subject">푸빌라 기프트 | 마산점</li>
                <li class = "comment">너도나도 갖고픈<br> 푸빌라&친구들 굿즈</li>
                <li class = "data">2020.06.12(금)~ 2020.06.25(목) | 백화점 각 층 본매장</li>
            </ul></a>

            <ul class = "item">
                <li><a href = "#"><img src = "img/new04.png" ></li>
                <li class = "subject">푸빌라 기프트 | 마산점</li>
                <li class = "comment">너도나도 갖고픈<br> 푸빌라&친구들 굿즈</li>
                <li class = "data">2020.06.12(금)~ 2020.06.25(목) | 백화점 각 층 본매장</li>
            </ul></a>

            <ul class = "item">
                <li><a href = "#"><img src = "img/new04.png"></li>
                <li class = "subject">푸빌라 기프트 | 마산점</li>
                <li class = "comment">너도나도 갖고픈<br> 푸빌라&친구들 굿즈</li>
                <li class = "data">2020.06.12(금)~ 2020.06.25(목) | 백화점 각 층 본매장</li>
            </ul></a>

            
            </div>
        </div>
    </div>
    </article>
    </body>
</html>